{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ],
  env: {
      test: {
          presets: [['@babel/preset-env', {targets: {node: 'current'}}]],
      },
  },
}

