
$header--font: 'Courier New';

$white: #FFF;
$green: #33CC99;
$orange: #FF9900;
$red: #FF3300;
$blue: #00CCCC;
$skyblue: #389AC1;
$yellow: #FFCC00;
$purple: #993366;
$purple2: #990066;
$brown: #993333;
$darkbrown: #462024;

$yellow-purple: linear-gradient($purple, $yellow);

$font-base: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
